extends ../Partials/layout.pug

block content
  // ==============================================================
  // pageheader
  // ==============================================================
  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
      .page-header
        h1.pageheader-title Repair Details

  br
  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
      h2
        | Results:
      hr

  br

  table.table.form-inline.justify-content-center
    tr
      th Repair Id:
      td= repair.repair_id
      th Repair Status:
      td= repair.repair_status
    tr
      th Member Name:
      td= repair.repair_member_name
      th Assigned Staff:
      td= repair.repair_employee_name
    tr.form-inline.justify-content-center
      th(colspan="4") Description
    tr.form-inline.justify-content-center
      td(colspan="4")= repair.repair_description
    tr.form-inline.justify-content-center
      th(colspan="2") Cost
      th(colspan="2") Part Name
    - for (item of lineItems)
      tr.form-inline.justify-content-center
        td(colspan="2")= item.repair_item_cost
        td(colspan="2")= item.repair_part_name

  hr

  h2= 'Total: $' + (lineItems.reduce((accu, item) => accu + Number(item.repair_item_cost.toString().substr(1)), 0)).toFixed(2)
